@import url('https://fonts.cdnfonts.com/css/rohto-sans');
@import url('https://fonts.cdnfonts.com/css/go-baaa-handwritten-comic');
@import url('https://fonts.cdnfonts.com/css/makositrial');
@import url('https://fonts.cdnfonts.com/css/rampung');
/*font-family: 'Go Baaa Handwritten Comic', sans-serif;*/

body {
    background-color: rgb(255, 247, 223);
  }

.hero-font
{
    font-family: 'MAKOSItrial', sans-serif;
    text-shadow: 2px 2px 10px    #000000;
                                                    
}

ul {
    z-index: 1;
    list-style-type: none;
    margin: 0px;
    margin-left: -9.2px;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  
    background-color: rgba(10, 105, 0, 0.774);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);

}

li {
  float: left;
  z-index: 1;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00ad1194;
}

.logo {
    float:left;
}

.menu {
    font-family: 'Rampung', sans-serif;
                                                
    font-size: 20px;
    float:right;

}

.top {
    font-family: 'Rampung', sans-serif;      
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #ffe100;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
  }

.bgm {
    z-index: 1;
    position: fixed;
    bottom: 100px;
    right: 10px;
    background-color: #ffe10000;
    color: #000000;
    border: #00000000;
    padding: 10px 20px;
    cursor: pointer;
  }

.hero-left{
    width: 60%;
    float: left;
    overflow: hidden;

    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.hero-left-image{
 
    margin-top:100px;
    width: 110%;
}




.hero-image {
    background-image: url("hero1b.png");
    border-radius: 30px;
    padding: 0;
    margin: 0;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

  }


.hero-text{
    float: right;
    font-size: larger;
    color: white;                                        
    margin: auto;
    padding-top: 60px;
    text-align: center;
    width: 40%;
}

.hero-text1{
    float: right;
    font-size: larger;
    color: white;                                        
    margin: auto;
    padding-top: 60px;
    text-align: center;
    width: 50%;
}



.buttonhero {
    font-family: 'Rampung', sans-serif;                                              
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #ffe045;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #b9a000;
    margin: 10px;
  }
  
  .buttonhero:hover {background-color: #c8b400}
  
  .buttonhero:active {
    background-color: #ffd000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-left: -9px;
    background-color: rgb(15, 73, 0);
  }

  .main {
    position: relative;
    }
    



.bgdown{
    width: 100%;
     opacity: 0.5;
     overflow: hidden;

}

.wholediv{
    color: rgb(82, 58, 58);
    padding: 20px;
    border-radius: 30px;
    font-family: 'MAKOSItrial', sans-serif;
    float: left;
    width: 96%;
    margin: 10px;
    background-color: rgb(222, 205, 143);
    overflow: hidden;
}

.animaldiv{
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
    font-family: 'MAKOSItrial', sans-serif;
    float: left;
    width: 20%;
    margin: 10px;
    background-color: rgb(204, 52, 52);
    overflow: hidden;
}

.animalpic{

}

.animalassets{
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
}





.halfdiv{
    color: rgb(82, 58, 58);
    padding: 20px;
    border-radius: 30px;
    font-family: 'MAKOSItrial', sans-serif;
    float: left;
    width: 47%;
    margin: 10px;
    background-color: rgb(222, 205, 143);
    overflow: hidden;
}

.halfdivleft{
    width: auto; 
    margin-top: 20px;
    color: rgb(82, 58, 58);
    padding: 20px;
    border-radius: 30px;
    font-family: 'MAKOSItrial', sans-serif;
    float: left;
    margin: 10px;
    background-color: rgb(222, 205, 143);
    overflow: hidden;
}

.halfdivyt{
    color: rgb(82, 58, 58);
    margin-top: 20px;
    background-color: yellowgreen;
    padding: 20px;
    border-radius: 30px;
    font-family: 'MAKOSItrial', sans-serif;
    float: left;
    width: 51%;
    margin: 10px;
    overflow: hidden;
}

.halfdivform{
    color: rgb(82, 58, 58);
    padding: 20px;
    border-radius: 30px;
    font-family: 'MAKOSItrial', sans-serif;
    float: left;
    width: 45%;
    margin: 10px;
    background-color: rgb(222, 205, 143);
    overflow: hidden;
}

h2, h3{
    font-family: 'Rampung', sans-serif;
}


/*image hover*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  .column img {
    vertical-align: middle;
  }

  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
  }

  .container:hover .overlay {
    opacity: 0.5;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  
.underfooter{
    bottom: 0;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: 'MAKOSItrial', sans-serif;
    float: left;
    width: 99%;
    margin-bottom: 20px;
    margin-left: -19px;
    margin-right:-20px;
    background-color: rgb(235, 208, 141);
}

.grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto;
    padding: 5px;
    overflow: hidden;
  }
  
  .grid-item {
    font-size: 20px;
    text-align: center
  }




  /* Tablet Styles */
@media only screen and (min-width: 480px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
 
 
/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 33.3%;
      max-width: 33.3%;
    }
}

@media only screen and (max-width: 1024px) {
    .halfdivform,.hero-text,.hero-text1,.halfdiv,.halfdivleft,.halfdivyt,.wholediv,.underfooter{
        width: 90%;
    }
    .underfooter{
        margin-left: 5px;
    }
    .menu{
        font-size: small;
    }

}


@media only screen and (max-width: 1024px) {
    .hero-left { 
        display: none; 
      } 
    #h1g{
        margin-left: -60px;
    }
    #p1g{
        margin-left: -50px;
    }
    #b1{
        margin-left: -50px;
    }
}




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
tr:nth-child(odd) {
    background-color: #d6d6d6;
  }

  .contact-form {
    border-radius: 20px;
    background-color: #ffffff;
    text-color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
  }
  
  .contact-form input {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    
  }
  
  .contact-form button {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }

  .contact-form {
    border: 1px solid black;
    padding: 10px;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  .col-md-6 {
    float: left;
    width: 50%;
  }
  
  @media (max-width: 768px) {
    .col-md-6 {
      width: 100%;
      float: none;
    }
  }