@import url('https://fonts.cdnfonts.com/css/rohto-sans');
@import url('https://fonts.cdnfonts.com/css/go-baaa-handwritten-comic');

/*font-family: 'Go Baaa Handwritten Comic', sans-serif;*/



.hero
{
font-family: 'Rohto Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    margin-left: -9px;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  
    background-color: rgba(13, 133, 0, 0.42);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);

}

li {
  float: left;
  z-index: 1;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00ad1194;
}

.logo {
    float:left;
}

.menu {
    font-family: 'COCOGOOSE', sans-serif;
    float:right;
    z-index: 1;
}

.top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #ffe100;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

.bgm {
    position: fixed;
    bottom: 100px;
    right: 10px;
    background-color: #ffe10000;
    color: #000000;
    border: #00000000;
    padding: 10px 20px;
    cursor: pointer;
  }